.tableContainer {
  margin: 0 auto;
  width: 420px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.transactionHistory {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid black ;
  border-bottom: none;
}

th {
  background-color: #05bcd5;
  color: white;
  font-weight: bold;
  border-top: none;
}

td:first-child,
th:first-child {
  border-left: none;
}

td:last-child,
th:last-child {
  border-right: none;
}

.type {
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}